@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    transition: all .40s ease;
    scroll-margin: 2.5rem;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: aliceblue;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292929;
    opacity:0;
    border-radius: 20px;
    scale: 1;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

html{
    scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: aliceblue;
}
nav{
    display:flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    z-index: 111;
    line-height: 80px;
    background: rgb(218, 222, 225);
}
.navItems{
    display: flex;
    
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    color:#3d3d3d;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .40 ease-in-out;
}
.navItems li:hover a{
   color: violet;
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d3d3d;
    letter-spacing: 2.3px;
    cursor: pointer;
    text-transform: uppercase;
}
b{
    font-size: 70px;
    color: blueviolet;
}
.links a{
    font-size: 30px;
    color:#3d3d3d;
    margin: 25px 10px;
}
.links a:hover{
    color: blueviolet;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    margin: 0;
    overflow: hidden;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: -9%;
    top: 40%;
    background: linear-gradient(45deg, blueviolet, pink);
}
.cols{
    width: 50%;
}
.topline{
    display: block;
    position:  relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d3d3d;
}
.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: blueviolet;
}
h1{
    display: block;
    font-size: 2em;
    font-weight: 900;
    color: #3d3d3d;
}
.multiText{
    color: blueviolet;
    text-transform: capitalize;
    font-size: 2.3em;
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d3d3d;
}
.importantp:hover{
    color: black;
    scale: 1.1;
}
.btns{
    width: 100%;
    position: relative;
    left: 75px;
    
    
}
.projectss{
    text-decoration: none;
    color: #fff;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    color:#fff;
    font-size: 15px;
    font-weight: 400;
    background-color: #3d3d3d;
    padding: 8px 14px;
    margin: 5px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
    transition: all .40s ease;
}
button:hover{
    transform: translateY(-5px);
    background-color: blueviolet;
}
.imgbox{
    position: relative;
    width: 100%;
    height: 100%;

}
.imgbox img{
    position:  relative;
    height: 100%;
    width: calc(130% - 80px);
    right: 50px;
    top: -60px;
    transition:  all .40s ease;
   
}
.skillscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    transition: all .60s ease-in-out;
}
.skillscontainer h1{
    outline: none;
    border-radius: 50px;
    width: 50%;
    border:#3d3d3d;
    cursor: pointer;
    color:#fff;
    font-size: 15px;
    font-weight: 400;
    background-color: #3d3d3d;
    padding: 8px 14px;
    margin: 5px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
    transition: all .40s ease;
  
}
.skillp{
    width: 100%;
    color: orange;
}
section{
    padding: 50px 0;
}
.skillscontainer:hover{
    scale: 1.1;
}
.titles{
    font-weight: 900;
    font-size: 45px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    transition: all .40s ease;
    text-transform: uppercase;
}
.titles:hover{
    scale: 1.1;
}
.projectItems{
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 40px 0;
    transition: all .60s ease-in-out;
}
.projectAbout{
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectAbout p{
    font-size: 20px;
    font-weight: 800;
    color: black;
}
.projectAbout p b{
    font-size: 30px;
}
.contentAbout{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentAbout p{
    font-size: 20px;
    font-weight: 800;
    color: black;
}
.contentAbout p b{
    font-size: 30px;
}
.contentAbout h2 a{
    font-size: 40px;
    letter-spacing: 5px;
    color: #3d3d3d;
    text-decoration: none;
}
.box{
    display: grid;
    outline: none;
    border-radius: 50px;
    width: 70%;
    border:#3d3d3d;
    cursor: pointer;
    color:#fff;
    font-size: 15px;
    font-weight: 400;
    background-color: #3d3d3d;
    padding: 8px 14px;
    margin: 5px 5px;
    letter-spacing: 2px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
    transition: all .40s ease;
}
.box img{
    display: flex;
    justify-content: center;

    right: -40px;
}
#skills{
  
    background-image: url(planet.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: -150px;
    background-size: 75%;
   
}

.box h2{
    display: flex;
    font-size: 30px;
    justify-content: center;
}
.projectItems:Hover{
    scale: 1.1;
}
.itemAbout{
    color: aliceblue;
    font-size: 24px;
}

#menu-icon{
    font-size: 38px;
    color:var(--secondary-color);
    z-index: 1001;
    display: none;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content p{
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    color: black;
}
.content p b{
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.buttonforemail{
    display: flex;
    justify-content: center;
    align-items: center;
    left: -150px;
}
.contentAbout:hover{
    scale: 1.1;
}

/* Display on other devices */
@media (max-width: 800px){
    #menu-icon{
        display: block;
    }
  .navItems{
    
        top:-500px;
        left: 0;
        right:0;
        position: absolute;
        flex-direction: column;
        background:var(--primary-color);
        box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
        transform: all .40s ease;
  }
  .wrapper::after{
  opacity: 0;
  }
  .container{
    width: 100%;
  }
  .projectAbout{
    font-size: 20px;
  }


  .projectItems img{
    width: 50%;
  }
  .box{
    width: 60%;
    height: 50%;
  }
  .box:hover{
    scale: 1;
  }
  .projectItems p {
    font-size: 15px;
  }
  button{
    display: inline;
    outline: none;
    border: none;
    cursor: pointer;
    color:#fff;
    font-size: 15px;
    font-weight: 400;
    background-color: #3d3d3d;
    padding: 4px 7px;
    margin: 5px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
    transition: all .40s ease;
  }
.contact h1{
    font-size: 25px;
}
.contact a{
    font-size: 15px;
}
.imgbox img{
    right: -40px;
    top: -80px;
    width: 100%;
}
.multiText{
    font-size: 30px;
}
.cols0{
    width: 75%;
}
.importantp{
    font-size: 12.5px;
    width: 100%;
}
#skills{
  
   background-image: none;
   
}

}